.order-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #334155;
    background: #0f172a;
    color: white;
    box-sizing: border-box; /* Чтобы паддинги не раздували инпут */
}

.order-form input:focus {
    border-color: #38bdf8;
    outline: none;
}
